.char-cards {
    margin-top: 60px;
    width: 60%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
    position: relative;
}

.char-cards-spinner {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.load-btn {
    position: absolute;
    bottom: -3%;
    left: 21.5%;
}