.headerInfo {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.25);
    position: relative;
}

.headerInfo-left {
    width: 50%;
    display: flex;
    padding: 35px;
    gap: 30px;
}

.headerInfo-text {
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
}

.headerInfo-descr {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.headerInfo-btns {
    display: flex;
    justify-content: space-between;
}

.headerInfo-btns:nth-last-child(1) {
    margin-right: 20px;
}

.headerInfo-right{
    background: #232222;
    width: 50%;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 27px;
    padding: 40px;
}

.header-bgimg__first {
    position: absolute;
    top: 66px;
    right: -24px;
}

.header-bgimg__second {
    position: absolute;
    top: 146px;
    right: 77px;
}