.char-form {
    margin-top: 50px;
    padding: 30px;
}

.char-form-block {
    display: flex;
    flex-direction: column;
}
.char-form-items {
    position: relative;
    margin-top: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.error-message {
    position: absolute;
    top: 45px;
    left: 10px;
    font-weight: 600;
    font-size: 16px;
    color: red;
}
.char-form-link  a {
    display: inline-block;
}

.char-form-link {
    margin-top: 40px;
    font-weight: 800;
    font-size: 16px;
    color: green;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.char-form-error {
    margin-top: 30px;
    color: red;
    font-size: 16px;
    font-weight: 600;
}

input {
    font-weight: 600;
    padding: 10px;
    border: none;
    outline: none;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}